<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6 border" style="overflow:scroll;">
      <h4>  Kategorije </h4>
      <hr>
      <div class=" col-xs-12">
        <table class="table  table-hover">
          <thead>
            <tr>
              <th>Kategorija</th>
              <th>Broj Kanala</th>
              <th>Izmeni</th>
            </tr>
          </thead>
          <tbody>
            
            
            
            
              <tr class="" ng-repeat="v in categories track by $index">
              <td ng-click="clickCategory(v.name, v.id)">{{v.name}}</td>
              <td ng-click="clickCategory(v.name, v.id)">{{v.kanali.length }} kanala</td>
              <td><a  class="col-xs-6 btn btn-default" ng-click="editKategorije(v, v.id)">edit</a>
                <a class="col-xs-6 btn btn-danger" ng-click="delete(v.id)" href="">delete</a></td>
            </tr>



          </tbody>
        </table>
      </div>


    </div>


    <div class="col-xs-6 border" style="overflow:scroll;">

      <div  ng-show="$location.url() === '/pokaziKanale' || $location.url() === '/'">
        

        <h4> {{category.name.name}} </h4>
        <hr>

        <div class=" col-xs-12">
          <table class="table  table-hover">
            <thead>
              <tr>
                <th>Kanali</th>

                <th class="pull-right">Izmeni</th>
              </tr>
            </thead>
            <tbody>
              <tr class="" ng-repeat="vr in chanelList track by $index" ng-click="clickedChanel(vr)">

                <td>{{vr}}</td>

                <td><a class="col-xs-4 btn btn-danger pull-right asd" ng-click="deleteChanelFromCategory(vr); $event.stopPropagation()" >delete</a><a  class="col-xs-4 btn btn-default pull-right" href="editKanala" ng-click="editKanala(vr)">edit</a>
                </td>

              </tr>




            </tbody>
          </table>
        </div>




      </div>





      <div ng-show="$location.url() === '/editKategorije'" >
        <h4>Edit Kategorije</h4>
        <hr>
        <br>
        <form>
          <input ng-model="category.name.name" name="jib" requir />
          <br>
          <hr>
          <button class="btn btn-success" type="submit" ng-click="sacuvaj(category.id)">Sacuvaj</button>
          <button class="btn btn-primary" ng-click="otkaziEditKanala()">Otkazi</button>
        </form>
      </div>


      <div ng-show="$location.url() === '/editKanala' ">

        <h4>Edit Kanala</h4>
        <hr>
        <form>

          <input ng-model="category.clickedChanel" name="fgfga" required />





          <div class="col-xs-12" ng-repeat="v in categories track by $index">




            <div class="checkbox">
              <label>
                
                <input ng-model="category.checkboxes[v.name]" ng-init="category.checkboxes=setCheckBoxVal()" type="checkbox" value="{{v.name}}"  />{{v.name}}</label>
            </div>

          </div>
          

          <button class="btn btn-success" type="submit" ng-click="sacuvajKanal(category.chanel.name)">Sacuvaj</button>
          <button class="btn btn-warning" ng-click="odustani()">Odustani</button>


        </form>
      </div>


    </div>
  </div>






  <div class="col-xs-12">


    <div class="col-xs-6">
      <button class="btn btn-success pull-right" ng-click="$location.url('/novaKategorija')">Dodaj Kategoriju</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-success pull-right" ng-click="$location.url('/noviKanal')">Dodaj Kanal</button>
    </div>

  </div>
</div>